/* Disposición y tamaño para los tableros en los componentes <Human /> y <Machine />  */
#board {
  display: grid;
  grid-template-columns: repeat(9, 1 fr);
  color: black;
  width: 300px;
  height: 300px;
  margin-left: 160px;
}

/* Define tamaño y apariencia de cada <Square /> */
#box {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  text-align: center;
}

/* Disposición y apariencia del <ButtonsPositions /> */
#buttons-select-directions {
  height: 60px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  z-index: 1;
}

/* Oculta los valores en los <Square /> */
.childrenBox {
  visibility: hidden;
}


